################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Simmental/.vs/Simmental
/Simmental/bin/Debug/net5.0-windows
/Simmental/obj
/Simmental.Game/bin/Debug/net5.0
/Simmental.Game/obj
/Simmental.UI/bin/Debug/net5.0
/Simmental.UI/obj
/Simmental.UI.WinForm/bin/Debug/net5.0-windows
/Simmental.UI.WinForm/obj
/Simmental/bin/Debug/net6.0-windows
/Simmental.Game/bin/Debug/net6.0
/Simmental.UI/bin/Debug/net6.0
/Simmental.UI.WinForm/bin/Debug/net6.0-windows
/Simmental.Tests/bin/Debug/net6.0
/Simmental.Tests/obj
/Simmental/.vs/ProjectEvaluation
